.advantages {
    min-height: 470px;
    background-color: #F6F6F6;
    padding-top: 73px;
    &__plus {
        margin-top: 60px;
        margin-bottom: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        width: 273px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        img {
            margin-bottom: 35px;
        }
        a {
            color: #FF0000;
        }
        #heart {
            animation: heartbeat 1s ease-in infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subheader {
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
}